In [23]:
import numpy
import pandas as pd

In [29]:
df = pd.read_excel('./datasets/NIPA_EMR.xlsx') # 데이터 불러오기
print(df.shape) # 데이터 형태 확인
df[:5] # 데이터 확인

(100, 179)

,T,집도의,-,Age,Sex,Height,Weight,ASA,BMI,DM_history,...,Recurrent_Chemo_7_Count,Recurrent_Chemo_8,Recurrent_Chemo_8_Start,Recurrent_Chemo_8_End,Recurrent_Chemo_8_Count,CEA_Recurrence,Death_Date,ECOG_PS,OS,SAR
0,12,백정흠,360,55,2,160.0,57.0,2,22.27,0,...,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-31,9999.0,165,NaN
1,13,백정흠,361,69,2,154.0,52.0,3,21.93,0,...,NaN,NaN,NaN,NaN,NaN,NaN,2011-06-27,NaN,74,NaN
2,80,백정흠,429,43,1,164.0,62.0,2,23.05,0,...,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-31,9999.0,178,NaN
3,81,백정흠,430,48,2,158.0,70.0,2,28.04,0,...,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-31,9999.0,177,NaN
4,82,백정흠,431,45,2,156.0,60.0,2,24.65,0,...,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-31,9999.0,177,NaN

In [30]:
df = df.iloc[:, 3:] # 필요없는 컬럼 제거
print(df.shape) # 데이터 형태 확인
df[:5] # 데이터 확인 (T, 집도의, - 컬럼 삭제된 것 확인)

(100, 176)

,Age,Sex,Height,Weight,ASA,BMI,DM_history,Pulmonary_disease,Liver_disease,Heart_disease,...,Recurrent_Chemo_7_Count,Recurrent_Chemo_8,Recurrent_Chemo_8_Start,Recurrent_Chemo_8_End,Recurrent_Chemo_8_Count,CEA_Recurrence,Death_Date,ECOG_PS,OS,SAR
0,55,2,160.0,57.0,2,22.27,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-31,9999.0,165,NaN
1,69,2,154.0,52.0,3,21.93,0,0,0,"1, 4",...,NaN,NaN,NaN,NaN,NaN,NaN,2011-06-27,NaN,74,NaN
2,43,1,164.0,62.0,2,23.05,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-31,9999.0,178,NaN
3,48,2,158.0,70.0,2,28.04,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-31,9999.0,177,NaN
4,45,2,156.0,60.0,2,24.65,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-31,9999.0,177,NaN

In [39]:
# 타겟 컬럼과 특징 컬럼 정의
target_col = 'Postop_Chemo_Regimen'
target = df[target_col]
features = df.drop(target_col, axis=1)

print(target.shape, features.shape)

(100,) (100, 175)

In [38]:
# 데이터셋 분리
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(features, target, test_size=0.2)

In [ ]:
# 이후 모델 학습 진행